﻿@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
