﻿@import '_typography.scss';
@import '../sass/components/_table.scss';


$default-font-size: 1.6rem;
$font-family: 'Open Sans', sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	position: relative;
	/*min-height: 100vh;*/
	background-size: cover;
	overflow-x: hidden;
	/*overflow-y:scroll;*/
}

html {
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	font-weight: 400;
	font-size: $default-font-size;
	line-height: 1.6;
	color: whitesmoke;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	background-color: #151515;
}

.main {
	min-height: 100%;
	transition: 0.2s ease;
	height: auto;
	margin-top: 4rem;
	padding: 8rem;
}