﻿@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 3rem 0;
}
.table th {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
}
.table tr {
  border: 1px solid #C2D0E4;
}
.table td, .table th {
  padding: 2rem;
  font-size: 1.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  text-align: start;
}
.table td span.fa-solid, .table th span.fa-solid {
  font-size: 2.6rem;
}
.table table {
  width: 100%;
}
.table-wrapper {
  width: 100%;
  /*border: 1px solid $border-color-solid;*/
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: auto;
  padding-bottom: 3rem;
}
.table-wrapper::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #1DAA91;
  border-radius: 3rem;
  /*outline: none;*/
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  position: relative;
  /*min-height: 100vh;*/
  background-size: cover;
  overflow-x: hidden;
  /*overflow-y:scroll;*/
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: whitesmoke;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background-color: #151515;
}

.main {
  min-height: 100%;
  transition: 0.2s ease;
  height: auto;
  margin-top: 4rem;
  padding: 8rem;
}
