﻿@import "../_variables.scss";


.index {
	.statistics {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 2rem;
		row-gap: 2rem;
		grid-auto-rows: 1fr;
		grid-auto-flow: row;

		.statistic {
			display: flex;
			flex-direction: row;
			background-color: $card-bg;
			border-radius: $border-radius;
			border: 1px solid $border-color-solid;
			padding: 2.5rem;
			align-items: center;

			&__header {
				color: $color-primary;
				font-weight: 700;
			}

			&__value {
				font-size: 1.8rem;
			}

			&__icon {
				font-size: 6rem;
				margin: -1.5rem 0;
			}

			div:nth-child(2) {
				display: flex;
				flex-direction: column;
				margin-left: 2rem;
			}
		}
	}
}
