﻿.index .statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}
.index .statistics .statistic {
  display: flex;
  flex-direction: row;
  background-color: rgba(11, 12, 16, 0.5019607843);
  border-radius: 1rem;
  border: 1px solid #C2D0E4;
  padding: 2.5rem;
  align-items: center;
}
.index .statistics .statistic__header {
  color: #1DAA91;
  font-weight: 700;
}
.index .statistics .statistic__value {
  font-size: 1.8rem;
}
.index .statistics .statistic__icon {
  font-size: 6rem;
  margin: -1.5rem 0;
}
.index .statistics .statistic div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
