﻿@import "../_variables.scss";


.table {
	width: 100%;
	border-collapse: collapse;
	margin: 3rem 0;
	th {
		text-transform: capitalize;
		font-size: 1.3rem;
		font-weight: 600;
	}

	tbody {
	}

	tr {
		border: 1px solid $border-color-solid;
	}

	thead {
	}

	td, th {
		padding: 2rem;
		font-size: 1.5rem;
		vertical-align: middle;
		font-size: 1.5rem;
		font-weight: 600;
		white-space: nowrap;
		text-align: start;

		span.fa-solid {
			font-size: 2.6rem;
		}
	}

	table {
		width: 100%;
	}


	&-wrapper {
		width: 100%;
		/*border: 1px solid $border-color-solid;*/
		overflow-x: auto;
		overflow-y: auto;
		scroll-behavior: auto;
		padding-bottom: 3rem;

		&::-webkit-scrollbar {
			height: 1rem;
			width: 1rem;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(255,255,255,0.1);
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-primary;
			border-radius: 3rem;
			/*outline: none;*/
		}
	}
}
