﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<link href="~/sass/pages/index.min.css" rel="stylesheet" />
<div class="index">
	<h1>Metrics</h1>
	<br />
	<div class="statistics">
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Volume Traded

				</div>
				<span id="volumeTraded" class="statistic__value">@Model.VolumeTraded</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Average Trade Volume
				</div>
				<span class="statistic__value">@Model.AverageTradeVolume</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Biggest Gain
				</div>
				<span class="statistic__value">@Model.BiggestGain</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Biggest Loss
				</div>
				<span class="statistic__value">@Model.BiggestLoss</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Most Traded Asset
				</div>
				<span class="statistic__value">@Model.MostTradedAsset</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					No. Winning Trades
				</div>
				<span class="statistic__value">@Model.NumWinningTrades</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					No. Losing Trades
				</div>
				<span class="statistic__value">@Model.NumLosingTrades</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Average Trade Duration
				</div>
				<span class="statistic__value">@Model.AverageTradeDuration</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Win Rate
				</div>
				<span class="statistic__value">@Model.WinRate</span>
			</div>
		</div>
		<div class="statistic">
			<div>
				<div class="statistic__header">
					Average Gain
				</div>
				<span class="statistic__value">@Model.AverageGain</span>
			</div>
		</div>
	</div>

	<br/>
	<h1>Trades</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					Trade ID
				</th>
				<th>
					Symbol
				</th>
				<th>
					Side
				</th>
				<th>
					Volume
				</th>
				<th>
					Open Time
				</th>
				<th>
					Open Price
				</th>
				<th>
					Close Time
				</th>
				<th>
					Close Price
				</th>
				<th>
					Profit
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var trade in Model.Trades)
			{
				<tr>
					<td>@trade.TradeId</td>
					<td>@trade.Symbol</td>
					<td>@trade.Side</td>
					<td>@trade.Volume</td>
					<td>@trade.OpenTime.ToShortTimeString()</td>
					<td>@trade.OpenPrice.ToString("C")</td>
					<td>@trade.CloseTime.ToShortTimeString()</td>
					<td>@trade.ClosePrice.ToString("C")</td>
					<td>@trade.Profit.ToString("C")</td>
				</tr>
			}
		</tbody>
	</table>
</div>
